# Core API
fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20

# Config
pydantic==2.10.4
pydantic-settings==2.7.0
python-dotenv==1.0.1

# LangChain / LangGraph / LangSmith
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-groq==0.2.3
langchain-text-splitters==0.3.4
langchain-huggingface==0.1.2
langgraph==0.2.61
langsmith==0.2.10

# Embeddings + Vector store
fastembed==0.4.2
huggingface_hub==0.27.1


# Database / Auth
supabase==2.11.0

# Utilities
email-validator==2.2.0
httpx==0.28.1